body{
    background-color: darksalmon;
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
}
.resume{
    max-width: 1000px;
    margin: 0 auto;
}
.contact img{
    width: 30px;
    height: 30px;

}

h3{color: rgb(240, 183, 205);
    border-bottom: solid 1px black;
    margin-top: 35px;
}
h1{
    margin-top: 0px;
}
h4{
    margin-bottom: 0px;
}
p{
    margin-top: 0px;
    text-align: justify;
}
h2{
    margin-top: 0px;
    color: rgb(240, 183, 205) ;
}